<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scss/all.css">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/gameData.js"></script>
    <title>Poker game</title>
</head>

<body>
    <div class="gameBox" id="gameBox">

        <!-- ====== header start ====== -->
        <div class="header">
            <div class="content">
                <div class="logo">
                    <img src="images/other/logo.png">
                </div>
            </div>
        </div>

        <!-- ====== gameBody start ====== -->
        <div class="gameBody">
            <!-- gameTitle start -->
            <div class="gameTitle">
                <div class="logo" @click="convert()">
                    <img src="images/other/logo.png">
                </div>
                <div class="theme">
                    <img src="images/other/title.png">
                </div>
                <div class="guide_btn" @click="guide = true">
                    <img src="images/btn/guide.png">
                </div>
            </div>

            <!-- gameInfo start -->
            <div class="gameInfo">
                <div class="msg">
                    <p class="session"><span>744</span>회차</p>
                    <p class="timer">남은시간 <span>17</span> 초</p>
                    <div class="illustrate">
                        <ul>
                            <li>슈렉섯다는 1분마다 게임이 진행됩니다</li>
                            <li>딜러를 이길 것 같은 캐릭터에 배팅 해주세요</li>
                        </ul>
                    </div>
                </div>
                <div class="dealer"></div>
            </div>

            <!-- playList start -->
            <div class="playList">
                <div class="player player_1">
                    <div class="avatar">
                        <div class="winner"></div>
                        <img src="images/player/player1.png">
                    </div>
                    <div class="result win">
                        <span class="number">6끗</span>
                        <span class="total">승</span>
                    </div>
                </div>
                <div class="player player_2">
                    <div class="avatar">
                        <div class="winner"></div>
                        <img src="images/player/player2.png">
                    </div>
                    <div class="result lose">
                        <span class="number">2끗</span>
                        <span class="total">패</span>
                    </div>
                </div>
                <div class="player player_3">
                    <div class="avatar">
                        <div class="winner"></div>
                        <img src="images/player/player3.png">
                    </div>
                    <div class="result tie">
                        <span class="number">망통</span>
                        <span class="total">무</span>
                    </div>
                </div>
            </div>

            <!-- result start -->
            <div class="result">
                <div class="list">
                    <ul>
                        <li v-for="(item,index) in result">
                            <p class="session">{{item.session}}</p>
                            <div class="resultData">
                                <p data-name="딜러 :">
                                    <span class="number">{{item.dealer.c1}}/{{item.dealer.c2}}</span>
                                    <span class="total" v-html="reTotal(item.dealer.c1,item.dealer.c2)"></span>
                                </p>
                                <p data-name="슈렉 :">
                                    <span class="number">{{item.p1.c1}}/{{item.p1.c2}}</span>
                                    <span class="total" v-html="reTotal(item.p1.c1,item.p1.c2)"></span>
                                    <span class="judge" :class="judge(item.dealer,item.p1)"></span>
                                </p>
                                <p data-name="피오나 :">
                                    <span class="number">{{item.p2.c1}}/{{item.p2.c2}}</span>
                                    <span class="total" v-html="reTotal(item.p2.c1,item.p2.c2)"></span>
                                    <span class="judge" :class="judge(item.dealer,item.p2)"></span>
                                </p>
                                <p data-name="냥이 :">
                                    <span class="number">{{item.p3.c1}}/{{item.p3.c2}}</span>
                                    <span class="total" v-html="reTotal(item.p3.c1,item.p3.c2)"></span>
                                    <span class="judge" :class="judge(item.dealer,item.p3)"></span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- cards start -->
            <div class="cards" :class="{'init':start}">
                <div class="card_1">
                    <img src="images/card/card_1.png">
                </div>
                <div class="card_2" :class="{'on':chCard}">
                    <img src="images/card/card_back.png">
                </div>
                <div class="card_3">
                    <img src="images/card/card_5.png">
                </div>
                <div class="card_4" :class="{'on':chCard}">
                    <img src="images/card/card_back.png">
                </div>
                <div class="card_5">
                    <img src="images/card/card_6.png">
                </div>
                <div class="card_6" :class="{'on':chCard}">
                    <img src="images/card/card_back.png">
                </div>
                <div class="card_7">
                    <img src="images/card/card_8.png">
                </div>
                <div class="card_8" :class="{'on':chCard}">
                    <img src="images/card/card_back.png">
                </div>
            </div>

             <!-- ===== guideBox start ====== -->
            <div class="guideBox" :class="{'on' : guide}">
                <div class="close"  @click="guide = false"></div>
                <div class="top">
                    <div class="title">
                        <h5> 슈렉 섯다 게임설명</h5>
                        <p>슈렉 섯다는 1분마다 새로운 게임이 진행됩니다.</p>
                    </div>
                    <div class="rule">
                        <ul>
                            <li>슈렉 섯다게임은 딜러를 상대로 슈렉, 피오나, 냥이 중 어느 플레이어가 이길지 맞히는 게임입니다.</li>
                            <li>딜러의 패보다 어떤 플레이어의 패가 더 높을까요?</li>
                        </ul>
                    </div>
                    <p class="exRule">예) 딜러 5끗 / 슈렉 5끗 / 피오나 1땡 / 냥이 2끗일 경우 <span>슈렉 (무) / 피오나 (승)</span> <tt>/ 냥이 (패)</tt>입니다.</p>
                </div>

                <div class="cardSort">
                    <div class="title">슈렉 섯다 족보</div>
                    <div class="rule">
                        <ul>
                            <li>족보는 두장의 화투패를 더한 값의 끝자리 순입니다.</li>
                            <li>알리, 38광땡 등 일반적인 룰은 적용되지 않고 단순 끗과 땡만 존재합니다.</li>
                            <li>게임에 사용되는 화투패의 전체 개수는 20장입니다. 좌측부터 패가 높은 순서입니다.</li>
                        </ul>
                    </div>

                    <div class="cardList">
                        <ul>
                            <li v-for="item in cardList">
                                <div class="cards">
                                    <img :src="item.cardSrc[0]">
                                    <img :src="item.cardSrc[01]">
                                </div>
                                <div class="fraction">{{item.fraction}}</div>
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>

       
    </div>


    <script>
        var data = [{
                session: 857,
                dealer: {
                    c1: 1,
                    c2: 9
                },
                p1: {
                    c1: 5,
                    c2: 1
                },
                p2: {
                    c1: 6,
                    c2: 6
                },
                p3: {
                    c1: 8,
                    c2: 2
                }
            }, {
                session: 858,
                dealer: {
                    c1: 1,
                    c2: 8
                },
                p1: {
                    c1: 4,
                    c2: 4
                },
                p2: {
                    c1: 5,
                    c2: 6
                },
                p3: {
                    c1: 7,
                    c2: 5
                }
            }, {
                session: 859,
                dealer: {
                    c1: 8,
                    c2: 5
                },
                p1: {
                    c1: 9,
                    c2: 1
                },
                p2: {
                    c1: 8,
                    c2: 2
                },
                p3: {
                    c1: 10,
                    c2: 2
                }
            }, {
                session: 857,
                dealer: {
                    c1: 1,
                    c2: 5
                },
                p1: {
                    c1: 5,
                    c2: 1
                },
                p2: {
                    c1: 6,
                    c2: 6
                },
                p3: {
                    c1: 8,
                    c2: 2
                }
            }, {
                session: 858,
                dealer: {
                    c1: 1,
                    c2: 8
                },
                p1: {
                    c1: 4,
                    c2: 4
                },
                p2: {
                    c1: 5,
                    c2: 6
                },
                p3: {
                    c1: 7,
                    c2: 5
                }
            }, {
                session: 859,
                dealer: {
                    c1: 8,
                    c2: 5
                },
                p1: {
                    c1: 9,
                    c2: 1
                },
                p2: {
                    c1: 8,
                    c2: 2
                },
                p3: {
                    c1: 10,
                    c2: 2
                }
            }, {
                session: 857,
                dealer: {
                    c1: 1,
                    c2: 5
                },
                p1: {
                    c1: 5,
                    c2: 1
                },
                p2: {
                    c1: 6,
                    c2: 6
                },
                p3: {
                    c1: 8,
                    c2: 2
                }
            }, {
                session: 858,
                dealer: {
                    c1: 1,
                    c2: 8
                },
                p1: {
                    c1: 4,
                    c2: 4
                },
                p2: {
                    c1: 5,
                    c2: 6
                },
                p3: {
                    c1: 7,
                    c2: 5
                }
            }, {
                session: 859,
                dealer: {
                    c1: 8,
                    c2: 5
                },
                p1: {
                    c1: 9,
                    c2: 1
                },
                p2: {
                    c1: 8,
                    c2: 2
                },
                p3: {
                    c1: 10,
                    c2: 2
                }
            }, {
                session: 857,
                dealer: {
                    c1: 1,
                    c2: 5
                },
                p1: {
                    c1: 5,
                    c2: 1
                },
                p2: {
                    c1: 6,
                    c2: 6
                },
                p3: {
                    c1: 8,
                    c2: 2
                }
            }, {
                session: 858,
                dealer: {
                    c1: 1,
                    c2: 8
                },
                p1: {
                    c1: 4,
                    c2: 4
                },
                p2: {
                    c1: 5,
                    c2: 6
                },
                p3: {
                    c1: 7,
                    c2: 5
                }
            }, {
                session: 859,
                dealer: {
                    c1: 8,
                    c2: 5
                },
                p1: {
                    c1: 9,
                    c2: 1
                },
                p2: {
                    c1: 8,
                    c2: 2
                },
                p3: {
                    c1: 10,
                    c2: 2
                }
            },

        ]
    </script>

    <script>
        Vue.createApp({
            data() {
                return {
                    result: data,
                    chCard: false,
                    start:false,
                    guide:false,
                    cardList:guideCards,
                };
            },
            methods: {
                reTotal(c1, c2) {
                    let num = (c1 + c2) % 10;
                    return num == 0 ? '망통' : `${num}끗`;
                },
                judge(dealer, player) {
                    let judge;
                    let dealerNum = (dealer.c1 + dealer.c2) % 10 == 0 ? 10 : (dealer.c1 + dealer.c2) % 10
                    let playNum = (player.c1 + player.c2) % 10 == 0 ? 10 : (player.c1 + player.c2) % 10;
                    if (playNum > dealerNum) {
                        return 'win'
                    } else if (playNum < dealerNum) {
                        return 'lose'
                    } else {
                        return 'tie'
                    }
                },
                convert() {
                    let self = this;

                    let c2 = document.querySelector('.card_2 img');
                    let c4 = document.querySelector('.card_4 img');
                    let c6 = document.querySelector('.card_6 img');
                    let c8 = document.querySelector('.card_8 img');
                    self.chCard = true;

                    setTimeout(function() {
                        c2.setAttribute('src', `images/card/card_${self.result[0].dealer.c2}.png`);
                        c4.setAttribute('src', `images/card/card_${self.result[0].p1.c2}.png`);
                        c6.setAttribute('src', `images/card/card_${self.result[0].p2.c2}.png`);
                        c8.setAttribute('src', `images/card/card_${self.result[0].p3.c2}.png`);

                        self.chCard = false;
                    }, 200)
                }
            },
            mounted() {
                this.start = true;

            },
        }).mount("#gameBox");
    </script>
</body>

</html>